Source: ros-rolling-aws-robomaker-small-warehouse-world
Section: misc
Priority: optional
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-gazebo-ros, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-aws-robomaker-small-warehouse-world
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo11, ros-rolling-gazebo-plugins, ros-rolling-gazebo-ros, ros-rolling-ros-workspace
Description: AWS RoboMaker package for a warehouse world to use in manufacturing and logistics robot applications.
